################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database-First/.vs/Database-First/v16
/Database-First/obj/Debug
/Database-First/bin/Debug
/Database-First-Exercise/.vs/Database-First-Exercise/v16
/Database-First-Exercise/bin/Debug
/Database-First-Exercise/obj/Debug
/Code-First/.vs/Code-First/v16
/Code-First/bin/Debug
/Code-First/obj/Debug
/CodeFirstWithExistingDatabase/.vs/CodeFirstWithExistingDatabase/v16
/CodeFirstWithExistingDatabase/obj/Debug
/CodeFirstWithExistingDatabase/bin/Debug
/Code-First-Exercise/.vs/Code-First-Exercise/v16
/Code-First-Exercise/bin/Debug
/Code-First-Exercise/obj/Debug
/FluentAPI/FluentAPI/bin/Debug
/FluentAPI_Exercise/.vs/Code-First-Exercise/v16
/FluentAPI_Exercise/bin/Debug
