################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database-First/.vs/Database-First/v16
/Database-First/obj/Debug
/Database-First/bin/Debug
/Database-First-Exercise/.vs/Database-First-Exercise/v16
/Database-First-Exercise/bin/Debug
/Database-First-Exercise/obj/Debug
/Code-First/.vs/Code-First/v16
/Code-First/bin/Debug
/Code-First/obj/Debug
