################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database-First/.vs/Database-First/v16
/Database-First/obj/Debug
/Database-First/bin/Debug
